<div class="main">

  <div class="header">
    <h2 *ngIf="foros.length > 0">Tus foros</h2>
    <h2 *ngIf="foros.length === 0">Aún no tienes foros</h2>

    <button class="crear-btn" (click)="irACrearForo()">
        + Crear foro
    </button>
  </div>

  <div class="foros-container">

    <div class="foro-card" *ngFor="let foro of foros">

      <h3>{{ foro.foro_titulo }}</h3>

      <p class="categoria">
        {{ foro.categoria?.categoria_nombre }}
      </p>

      <p class="descripcion">
        {{ foro.foro_descripcion }}
      </p>

      <div class="buttons">
        <button (click)="editarForo(foro.foro_id)">✏️ Editar</button>
        <button (click)="eliminarForo(foro.foro_id)">🗑️ Eliminar</button>
      </div>

    </div>

  </div>

</div>