<div class="img-fondo">
  <img src="FondoCrearForo.png" alt="Fondo de editar foro">
</div>

<div class="crear_foro">
  <div class="card">
    <h2>Editar foro</h2>
    
    <div class="back" (click)="volver()">
      ← Regresar
    </div>

    <form [formGroup]="foroForm">
      <input type="text" placeholder="Nombre" formControlName="foro_titulo" />

      <select formControlName="foro_categoria_id">
        <option value="">Selecciona categoría</option>
        <option *ngFor="let cat of categorias" [value]="cat.categoria_id">
          {{ cat.categoria_nombre }}
        </option>
      </select>

      <textarea placeholder="Descripción" formControlName="foro_descripcion"></textarea>

      <div class="options">
        <button 
          type="button" 
          (click)="setEstado(false)" 
          [class.active]="esPublico">
          Público
        </button>

        <button 
          type="button" 
          (click)="setEstado(true)" 
          [class.active]="!esPublico">
          Privado
        </button>
        <div class="indicator" id="indicator-editar"></div>
      </div>

      <div *ngIf="foroForm.get('foro_privado')?.value" class="password-field">
        <input
          type="text"
          maxlength="8"
          placeholder="Nueva contraseña privada (8 caracteres)"
          formControlName="foro_password"
        />
        <p
          class="field-error"
          *ngIf="foroForm.get('foro_password')?.invalid && foroForm.get('foro_password')?.touched"
        >
          La contraseña debe tener exactamente 8 caracteres alfanuméricos.
        </p>
      </div>
    </form>

    <button class="save-btn" (click)="actualizarForo()">Actualizar</button>
  </div>
</div>
